
@{
    ViewBag.Title = "UserHelp";
}

    <!-- assistance in using the client -->
<div class="wrapper row3">
    <div class="lrspace">
        <main class="container clear">
           
            <h1>Допомога для користувачів сайту</h1>
           
                <img class="imgr borderedbox inspace-5" src="~/Content/images/HelpImages/клиент.jpg" alt="Client Page">
                <p>Користувач може обрати необхідний йому документ за назвою, та натиснути кнопку "Завантажити"</p>
                <p>Далі необхідно заповнити поля, необхідні для заданого шаблону</p>
            <p>Коли поля заповнені, після натискання на кнопку "Відправити", додаток генерує pdf файл, який ви можете роздрукувати </p>
            <p>У шаблоні будуть ваші данні, у відповідних місцях за шаблоном</p>
           <br/><br /><br />
         
                <img class="imgl borderedbox inspace-5" src="~/Content/images/HelpImages/поля.jpg" alt="Input Field">

               
            <br /><br />
                <img class="imgl borderedbox inspace-5" src="~/Content/images/HelpImages/pdf.jpg" alt="PDF File">

                

            </main>
        </div>
    </div>

