
@{
    ViewBag.Title = "AdminHelp";
}

 <!-- assistance in using the aministrator -->
<div class="wrapper row3">
    <div class="lrspace">
        <main class="container clear">

            <h1>Допомога для адміністратору сайту</h1>
            <img class="imgr borderedbox inspace-5" src="~/Content/images/HelpImages/таблица.jpg" alt="Admin Table">
            <p>У готовному вікні адміністратора наведена таблиця з існуючими шаблонами, в таблиці присутнє меню для створення, редагування та видалення шаблону, також можливо переглянути кількість роздрукованих документів та згенерувати pdf файл заданого шаблону </p>
            <p>Для того щоб створити новий документ необхідно натиснути на кнопку "Створити новий документ "</p> 
           
            <img class="imgl borderedbox inspace-5" src="~/Content/images/HelpImages/админка.jpg" alt="Admin Editor">
            
            <p>При створенні нового шаблону адміністратору обов'язково необхідно ввести назву документу(Назва буде відображена для користувачів сайту), заповнити за домомогою редактору шаблон </p>
            <p>Для того щоб створити поля введення необіхдно використовувати конструкцію {{Name}}, де Name -це назва поля, яка буде відображатися користувачу.(Назва може бути введена будь якими літерами алфавіту)</p>
            <p>Після того як шаблон створений необхідно натиснути кнопку "Створити документ"</p>
        </main>
    </div>
</div>

